
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AMCEI</title>

     <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
</head>
<body>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="home.html">Home</a>
  <a href="map.html">locations</a>
    <a href="map.html">about</a>



</div>

<div id="main" class="mainHeader">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
     <h1 id="siteHeader">Automotive <br> Manufacturing Carbon <br> Emissions Interface</h1>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginRight = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginRight= "0";
}
</script>
 <div id="chart" class="chart"></div>
<div id="chart2" class="chart2"></div>

</body>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graphs = {{chart | safe}};
    Plotly.plot('chart',graphs,{});

    var graphs2 = {{chart2 | safe}};
    Plotly.plot('chart2',graphs2,{});

</script>
</html>