
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AMCEI</title>

     <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</head>
<body>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="home.html">Home</a>
  <a href="map.html">locations</a>
    <a href="about.html">about</a>
</div>

<div id="main" class="mainHeader">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
     <h1 id="siteHeader">Automotive <br> Manufacturing Carbon <br> Emissions Interface</h1>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginRight = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginRight= "0";
}
</script>

<div id="dropdowntop">
    <select id="selector" class="form-control">
    <option value="http://127.0.0.1:5000/Select_view.html">select view</option>
        <optgroup label="CO2 Emissions">
    <option value="http://127.0.0.1:5000/graph_CO2.html">CO2 Emissions by Facility</option>
    <option value="http://127.0.0.1:5000/CO2_high.html">CO2 High Emitters</option>
    <option value="http://127.0.0.1:5000/CO2_low.html">CO2 Low Emitters</option>
        <option value="http://127.0.0.1:5000/CO2_table.html">CO2 table</option>
        <option value="http://127.0.0.1:5000/CO2_high_table.html">CO2 High Emissions table</option>
        <option value="http://127.0.0.1:5000/CO2_low_table.html">CO2 Low Emissions table</option></optgroup>
        <optgroup label="CH4 Emissions">
    <option value="http://127.0.0.1:5000/graphCH4.html">CH4 Emissions by Facility</option>
    <option value="http://127.0.0.1:5000/graphCH4_2.html">CH4 High Emitters</option>
        <option value="http://127.0.0.1:5000/CH4_low.html">CH4 Low Emitters</option>
        <option value="http://127.0.0.1:5000/CH4_table.html">CH4 Emissions table</option>
        <option value="http://127.0.0.1:5000/CH4_high_table.html">CH4 High Emissions table</option>
        <option value="http://127.0.0.1:5000/low_CH4_table.html">CH4 Low Emissions table</option></optgroup>
         <optgroup label="N2O Emissions">
     <option value="http://127.0.0.1:5000/graphN2O.html">N2O Emissions by Facility</option>
    <option value="http://127.0.0.1:5000/graphN2O_2.html">N2O High Emitters</option>
        <option value="http://127.0.0.1:5000/graphN2O_low.html">N2O Low Emitters</option>
         <option value="http://127.0.0.1:5000/N2O_table.html">N2O Emissions table</option>
             <option value="http://127.0.0.1:5000/high_N2O_table.html">N2O High Emissions table</option>
          <option value="http://127.0.0.1:5000/low_N2O_table.html">N2O Low Emissions table</option>
         </optgroup>
        <option value="http://127.0.0.1:5000/SVM.html">SVM</option>
        <option value="http://127.0.0.1:5000/kmeans.html">Kmeans</option>
</select>

</div>

<iframe id="iframetop"  src="about:blank" frameborder="0" ></iframe>

<div id="dropdown2">
    <select id="selector2" class="form-control">
    <option value="http://127.0.0.1:5000/Select_view.html">select view</option>
        <optgroup label="CO2 Emissions">
    <option value="http://127.0.0.1:5000/graph_CO2.html">CO2 Emissions by Facility</option>
    <option value="http://127.0.0.1:5000/CO2_high.html">CO2 High Emitters</option>
    <option value="http://127.0.0.1:5000/CO2_low.html">CO2 Low Emitters</option>
        <option value="http://127.0.0.1:5000/CO2_table.html">CO2 table</option>
        <option value="http://127.0.0.1:5000/CO2_high_table.html">CO2 High Emissions table</option>
        <option value="http://127.0.0.1:5000/CO2_low_table.html">CO2 Low Emissions table</option></optgroup>
        <optgroup label="CH4 Emissions">
    <option value="http://127.0.0.1:5000/graphCH4.html">CH4 Emissions by Facility</option>
    <option value="http://127.0.0.1:5000/graphCH4_2.html">CH4 High Emitters</option>
        <option value="http://127.0.0.1:5000/CH4_low.html">CH4 Low Emitters</option>
        <option value="http://127.0.0.1:5000/CH4_table.html">CH4 Emissions table</option>
        <option value="http://127.0.0.1:5000/CH4_high_table.html">CH4 High Emissions table</option>
        <option value="http://127.0.0.1:5000/low_CH4_table.html">CH4 Low Emissions table</option></optgroup>
         <optgroup label="N2O Emissions">
     <option value="http://127.0.0.1:5000/graphN2O.html">N2O Emissions by Facility</option>
    <option value="http://127.0.0.1:5000/graphN2O_2.html">N2O High Emitters</option>
        <option value="http://127.0.0.1:5000/graphN2O_low.html">N2O Low Emitters</option>
         <option value="http://127.0.0.1:5000/N2O_table.html">N2O Emissions table</option>
             <option value="http://127.0.0.1:5000/high_N2O_table.html">N2O High Emissions table</option>
          <option value="http://127.0.0.1:5000/low_N2O_table.html">N2O Low Emissions table</option>
         </optgroup>
        <option value="http://127.0.0.1:5000/SVM.html">SVM</option>
        <option value="http://127.0.0.1:5000/kmeans.html">Kmeans</option>
</select>

</div>
 <iframe id="iframe2" src="about:blank" frameborder="0" ></iframe>

<section class="container my-5">
    <h3>Input New Data</h3>
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">

                 <form class="row g-3" id="form" method="POST" >

                   <div class="col-md-6">
                     <label for="facility" class="form-label">Facility</label>
                     <input class="form-control" class="input" type="text"  id="facility" name="Facility">
                   </div>
                   <div class="col-md-2">
                     <label for="f_year" class="form-label">Year</label>
                     <input class="form-control" class="input" type="number" min="2000" max="2099" id="f_year" name="Year">
                   </div>

                   <div class="col-12">
                      <label for="inputAddress">Address</label>
                      <input class="form-control" class="input" type="text" class="form-control" id="inputAddress" name="Address" placeholder="1234 Main St">
                  </div>

                    <div class="form-group col-md-6">
                      <label for="inputCity">City</label>
                      <input type="text" class="form-control" class="input" id="inputCity" name="City">
                    </div>

                  <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select class="form-control" id="inputState" class="form-control" class="input" name="State">
                        <option selected>Choose...</option>
                        <option value="AL">AL</option>
                    	<option value="AK">AK</option>
                    	<option value="AR">AR</option>
                    	<option value="AZ">AZ</option>
                    	<option value="CA">CA</option>
                    	<option value="CO">CO</option>
                    	<option value="CT">CT</option>
                    	<option value="DC">DC</option>
                    	<option value="DE">DE</option>
                    	<option value="FL">FL</option>
                    	<option value="GA">GA</option>
                    	<option value="HI">HI</option>
                    	<option value="IA">IA</option>
                    	<option value="ID">ID</option>
                    	<option value="IL">IL</option>
                    	<option value="IN">IN</option>
                    	<option value="KS">KS</option>
                    	<option value="KY">KY</option>
                    	<option value="LA">LA</option>
                    	<option value="MA">MA</option>
                    	<option value="MD">MD</option>
                    	<option value="ME">ME</option>
                    	<option value="MI">MI</option>
                    	<option value="MN">MN</option>
                    	<option value="MO">MO</option>
                    	<option value="MS">MS</option>
                    	<option value="MT">MT</option>
                    	<option value="NC">NC</option>
                    	<option value="NE">NE</option>
                    	<option value="NH">NH</option>
                    	<option value="NJ">NJ</option>
                    	<option value="NM">NM</option>
                    	<option value="NV">NV</option>
                    	<option value="NY">NY</option>
                    	<option value="ND">ND</option>
                    	<option value="OH">OH</option>
                    	<option value="OK">OK</option>
                    	<option value="OR">OR</option>
                    	<option value="PA">PA</option>
                    	<option value="RI">RI</option>
                    	<option value="SC">SC</option>
                    	<option value="SD">SD</option>
                    	<option value="TN">TN</option>
                    	<option value="TX">TX</option>
                    	<option value="UT">UT</option>
                    	<option value="VT">VT</option>
                    	<option value="VA">VA</option>
                    	<option value="WA">WA</option>
                    	<option value="WI">WI</option>
                    	<option value="WV">WV</option>
                    	<option value="WY">WY</option>
                    </select>

                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="number" class="form-control" class="input" id="inputZip" name="Zipcode">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="CO2">CO2 Emissions</label>
                    <input  class="form-control" class="input" type="number" name="CO2_Emissions" id="CO2">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="CH4">CH4 Emissions</label>
                    <input class="form-control" class="input" type="number" name="CH4_Emissions"  id="CH4">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="N2O">N2O Emissions</label>
                    <input class="form-control" class="input" type="number" name="N2O_Emissions" id="N2O">
                  </div>
                  <div class="col-12">
                    <button id="submit" type="submit"  class="btn btn-success" class="input">Submit</button>
                  </div>
                    &nbsp
            </form>
          </div>

    </section>

<script>

$(document).ready(function(){
    $("#selector").change(function(){
        $("#iframetop").attr("src", $(this).val());
    });
});

$(document).ready(function(){
    $("#selector").show(function(){
        $("#iframetop").attr("src", $(this).val());
    });
});

$(document).ready(function(){
    $("#selector2").change(function(){
        $("#iframe2").attr("src", $(this).val());
    });
});
$(document).ready(function(){
    $("#selector2").show(function(){
        $("#iframe2").attr("src", $(this).val());
    });
});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</html>