
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AMCEI</title>

     <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</head>
<body>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="home.html">Home</a>
  <a href="map.html">locations</a>
    <a href="map.html">about</a>
</div>

<div id="main" class="mainHeader">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
     <h1 id="siteHeader">Automotive <br> Manufacturing Carbon <br> Emissions Interface</h1>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginRight = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginRight= "0";
}
</script>

<div id="dropdowntop">
    <select id="selector">
    <option value="http://127.0.0.1:5000/Select_view.html">select view</option>
    <option value="http://127.0.0.1:5000/graph.html">CO2 Emissions by Facility</option>
    <option value="http://127.0.0.1:5000/CO2_high.html">CO2 High Emitters</option>
    <option value="http://127.0.0.1:5000/graphCH4.html">CH4 Emissions by Facility</option>
    <option value="http://127.0.0.1:5000/graphCH4_2.html">CH4 High Emitters</option>
     <option value="http://127.0.0.1:5000/graphN2O.html">N2O Emissions by Facility</option>
    <option value="http://127.0.0.1:5000/graphN2O_2.html">N2O High Emitters</option>
</select>

</div>

<iframe id="iframetop" scrolling="no"  src="about:blank" frameborder="0" ></iframe>

<div id="dropdown2">
    <select id="selector2">
    <option value="http://127.0.0.1:5000/Select_view.html">select view</option>
    <option value="http://127.0.0.1:5000/graph.html">CO2 Emissions by Facility</option>
    <option value="http://127.0.0.1:5000/CO2_high.html">CO2 High Emitters</option>
    <option value="http://127.0.0.1:5000/graphCH4.html">CH4 Emissions by Facility</option>
    <option value="http://127.0.0.1:5000/graphCH4_2.html">CH4 High Emitters</option>
     <option value="http://127.0.0.1:5000/graphN2O.html">N2O Emissions by Facility</option>
    <option value="http://127.0.0.1:5000/graphN2O_2.html">N2O High Emitters</option>
</select>

</div>
 <iframe id="iframe2" scrolling="no" src="about:blank" frameborder="0" ></iframe>

<script>

$(document).ready(function(){
    $("#selector").change(function(){
        $("#iframetop").attr("src", $(this).val());
    });
});

$(document).ready(function(){
    $("#selector").show(function(){
        $("#iframetop").attr("src", $(this).val());
    });
});

$(document).ready(function(){
    $("#selector2").change(function(){
        $("#iframe2").attr("src", $(this).val());
    });
});
$(document).ready(function(){
    $("#selector2").show(function(){
        $("#iframe2").attr("src", $(this).val());
    });
});
</script>

<div id="entry">
     <form id="form" method="post">
  Year: <br/>
    <input class="input" id="f_year" name="Year"/>
  <br/><br/>
  Facility:<br/>
    <input class="input" name="Facility"/>
  <br/><br/>
   City:<br/>
    <input class="input"  name="City"/>
  <br/><br/>
  State: <br/>
    <input class="input"  name="State"/>
  <br/><br/>
   Zipcode: <br/>
    <input class="input"  name="Zipcode"/>
  <br/><br/>
  Address: <br/>
    <input class="input"  name="Address"/>
  <br/><br/>
    CO2 Emissions: <br/>
    <input class="input"  name="CO2_Emissions"/>
    <br/><br/>
    CH4 Emissions: <br/>
    <input class="input"  name="CH4_Emissions"/>
    <br/><br/>
    N2O Emissions: <br/>
    <input class="input"  name="N2O_Emissions"/>
  <button id="submit" type="submit">Submit</button>
</form>
</div>


</body>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 <script type="text/javascript">

     var graphs = {{chart | safe}};
     var co2_1 = Plotly.plot('chart', graphs, {});

    var graphs2 = {{chart2 | safe}};
    Plotly.plot('chart2',graphs2,{});



    var graphs3 = {{chartCH4 | safe}};
    Plotly.plot('chartCH4',graphs3,{});



     var graphs4 = {{chartCH4_2 | safe}};
    Plotly.plot('chartCH4_2',graphs4,{});



    var graphs5 = {{chartN2O | safe}};
    Plotly.plot('chartN2O',graphs5,{});



     var graphs6 = {{chartN2O_2 | safe}};
    Plotly.plot('chartN2O_2',graphs6,{});

 </script>

</html>